@import url(../x-tag-flipbox/src/flipbox.css);

:host {
  display: block;
}
google-map-streetview-panorama {
  display: block;
  height: 100%;
}
x-flipbox {
  display: block !important;
  width: 275px !important;
  height: 250px !important;
  position: absolute !important;
  left: 15px !important;
  bottom: 65px !important;
}
x-flipbox > * {
  -webkit-transform-style: flat !important;
  transform-style: flat !important;
}
polymer-ui-card {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px;
}
h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-top: 0;
}
.description {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-top: 0;
  height: 175px;
  overflow-y: scroll;
}
google-map {
  display: block;
  height: 200px;
}
